
body {
    content: '';
    background-image: url('img/img6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(10px);
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.global-container {
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_banner {
    padding: 10px;
    margin: 0;
}

.vision_statement {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    font-family: Arial, Helvetica, sans-serif;
}

.vision_statement h1 {
    color: white;
    font-size: 52px;
}

.vision_statement p {
    color: white;
    font-size: 24px;
}

@media screen and (min-width: 930px) {
    .card_container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 30px 0px 0px 0px;
    }
}

@media screen and (min-width: 1900px) {
    .card_container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 30px 0px 0px 0px;
    }
}

.card {
    border: 5px solid gray;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: rgba(0, 0, 0, 0.4);
}
.card-text h1, p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    background-color: black;
    cursor: pointer;
}
